{% extends 'base.html.twig' %}

{# {% block title %}Editar Servicios{% endblock %} #}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Editar Servicios</h1>
    <a class="btn btn-primary mb-4 btn-home" href="{{ path('servicios_index') }}">Volver</a>
    {{ include('servicios/_form.html.twig', {'button_label': 'Guardar'}) }}

    {{ include('servicios/_delete_form.html.twig') }}
</div>
{% endblock %}
