{% extends 'base.html.twig' %}

{# {% block title %}Nuevo Servicio{% endblock %} #}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Crear Servicio</h1>
    <a class="btn btn-primary mb-4 btn-home" href="{{ path('servicios_index') }}">Volver</a>
    {{ include('servicios/_form.html.twig') }}

    
</div>
{% endblock %}
