{% extends 'base.html.twig' %}

{# {% block title %}Nuevo Tipo hospedaje{% endblock %} #}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
<div class="container">
    <h1>Crear Tipo Hospedaje</h1>
    <a class="btn btn-primary mb-4 btn-home" href="{{ path('tipohospedaje_index') }}">Volver</a>
    {{ include('tipohospedaje/_form.html.twig') }}

</div>
{% endblock %}
