@media screen and (max-width:992px){
  .hide-div {
    display: none;
  }
}

.text-reg {
  font-size: 1.0rem !important;
  color: black;
}

.text-header {
  font-size: 1.0rem !important;
  font-weight: 500;
  color:black !important;
}

.btn-borrar {
  background-color: rgb(206, 2, 2);
  border: none;
  font-weight: 500;
  font-size: 16px !important;
}

.btn-borrar:hover {
  background-color: rgb(156, 2, 2) !important;
}

.btn-editar {
  background-color: #4fa49aab;
  font-weight: 500;
  border: none;
  padding: 0.313rem 0.50rem;
  height: 2.125rem !important;
  font-size: 16px !important;
}

.text {
  color: black;
}