{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="/css/footer.css">
  
{% endblock %}
{% block footer %}
  <footer>
    <link rel="stylesheet" type="text/css" href="/css/footer.css">
    <nav id="navFooter" class="nav flex-column flex-lg-row px-4 pt-4 pb-5" height="15vh">
      <ul class="navbar-nav ml-5 mr-4 mt-2 pb-4" style="width: 204px;">
        <span class="footer">Nuestra empresa</span>
        <li class="nav-item footer">
          <a class="nav-link footer" href="#">Quienes somos</a>
        </li>
        <li class="nav-item footer">
          <a class="nav-link footer" href="#">Política de privacidad</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-5 mr-auto mt-2 pb-4" style=" width: 206px;">
        <span class="footer">Contacto</span>
        <li class="nav-item footer">
          <a class="nav-link footer" href="#">Centro de ayuda</a>
        </li>
        <li class="nav-item footer">
          <a class="nav-link footer" href="#">Preguntas frecuentes</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-5 mr-auto mt-4 pb-2 copyright">
        <li class="nav-item">
          <span class="footer" href="/">© 2020 Trivadog.com</span>
        </li>
        <li class="icon">
          <a href="#" class="icon fa fa-twitter"></a>
          <a href="#" class="icon fa fa-facebook-f"></a>
          <a href="#" class="icon fa fa-instagram"></a>
          <a href="#" class="icon fa fa-github"></a>
        </li>
      </ul>
    </nav>
  </footer>
{% endblock %}